<form action="" method="POST">
    <div class="row mt-4">
        <div class="col-10">
            <div class="form-group">
                <label for="">Tìm kiếm</label>
                <input type="text" class="form-control mt-3" name="q" placeholder="Nhập từ khóa....">
            </div>
        </div>
        <div class="col-2 align-items-end d-flex">
            <button class="btn btn-primary w-100" name="btn-submid">Tìm kiếm</button>
        </div>
    </div>
</form>